main{
    width: 100%;
    max-width: 380px;
    margin: 0 auto  ;
    background-color: var(--backgrond_color);
    border-radius: 1rem; 
    padding: 1.5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transform: translate(0,5%);
   
}

.calculator{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    
  
}
.calculator__button{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr ;
    gap: 1.5rem;
  
}
.btn{
    color: var(--body_color);
    border-radius: 0.7rem;
    padding: 1.5rem 0rem;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size: 1.7rem;
    user-select: none;
}
.btn:hover{
    
    background-color: #363646;
    box-shadow: 1px 1px 1px gray ;
    
    
}
.btn:active{
    box-shadow: 1px 1px 2px gray inset;
    color: #FFE715;
    transform: translateY(2px) translateX(2px);
    transition: transform 200ms; 

    
    
}
.btn__number{
    color: var(--body_color);
    
}
.btn__key{
    color: #E0AA6E;
}


.calculator__button .grid2{
grid-column: 2/4;
   
}
.times{
    font-weight: 700 ;
    color: var(--body_color);
}
.display{
    background-color: var(--body_color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem;
    justify-items: end;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    border-radius: 0.7rem;
    color: var(--backgrond_color);
    overflow: hidden;
}
.history{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem;
    justify-items: end;
    padding: 1rem;
    color: gray;
   


}

.calculator__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.mode{
    
    color: #FFE715;
    cursor: pointer;
}
.mode :hover{
    color: white;
}

