
:root {
    
    --backgrond_color : #191C21;
    --body_color :  #E6E8D2; 
 

}
.lightmode{
    --backgrond_color : #E6E8D2; 
    --body_color : #191C21;  

}
.darkmode{
    --backgrond_color : #191C21;
    --body_color :  #E6E8D2; 

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
}

body {
    font-size: 1.5rem;
    font-family: "Yantramanav", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom , #CBCE91FF, #A7BEAE );
  
   
   
   
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    color: white;
}


 button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

